# Output directory
!results/functions/random_split/nmf_trained/nsig_7/best_run/W_7.csv
!results/functions/random_split/nmf_trained/nsig_7/best_run/H_test_7.csv
!results/functions/random_split/nmf_trained/nsig_7/best_run/H_train_7.csv

!results/genera/random_split/nmf_trained/nsig_5/best_run/W_5.csv
!results/genera/random_split/nmf_trained/nsig_5/best_run/H_test_5.csv
!results/genera/random_split/nmf_trained/nsig_5/best_run/H_train_5.csv

!results/genera/random_split/reapply/H_5.csv
!results/q2/q2index.tsv

data/
images/
results/

# Environment
.venv/

# R
*.Rproj
.Rproj.user/
R_scripts/ES_analysis/
*.RData
*.Rhistory

**/__pycache__/